body 
{
    font  : 20px sans-serif;
    color: whitesmoke;
    font-family: 'Atari Classic', sans-serif;
    text-shadow: 2px 2px 2px #aaa;
    padding : 2em;
    margin  : 0;
  
    background : rgb(105, 110, 106);
    background-image: url("/DOM_Magasin/images/zeldaa.gif");
    background-repeat: repeat;
    background-size:cover;

   
  }
  #titre
  {
      text-align: center;
  }
  input
  {
    
        display: block;
        width: 150px;
        float: right;
        margin-right: 1050px;
        border-radius: 5px;
        border-color: #4e0303;
    
  }

  div
  {
      margin-bottom: 20px;
  }

  #total
  {
      margin-top: 100px;
  }
  #totalspan 
  {
      margin-right: 10px;
      margin-left: 10px;
  }

  button {
    font-family: 'Atari Classic', sans-serif;
    overflow: hidden;
    display: inline-block;
    background-color: transparent;
    border-radius: 10px;
    border: 4px double whitesmoke;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
    button:hover
    {
        background-color:white;
        color: black;
    }
    